*{
    margin: 0px;
    padding:0px;
     
}


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{
    max-width: 100%;
}
/* nav section */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
      
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
    
  justify-content: center;
}

nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight:500;
    color:#000000;
    
}

nav button{
   padding: 16px 12px;
   border-radius: 4px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
    border:none;
    margin-bottom: 24px;
    margin-top: 24px;
}
nav button:hover{
    background-color: #1d5c37;
    color: rgb(180, 178, 178);

}
nav a:hover{
    color:#469165;
    font-size:18px;
    
}


/* hero section */


.hero{

   width: 100%;
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    
}
.hero h1{
    font-size: 72px; 
    color: white;
     margin-top: 16px;
}
.erly{
    margin: auto;
    border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight:500;
  color: #469165;
    height: 35px;
    width: 229px;
    border-radius: 1000;
    background-color: white;
}

span h1{
    margin-bottom: 16px;
}
.hero span h1{
    color: #30B868;
}
.hero_content{

 align-items: center;
 justify-content: center;
 text-align: center;
 padding-top: 120px;
 padding-bottom: 180px;
}

.hero_content p{
    color: #FFFFFF;
    margin-top: 16px;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 32px;
}
.hero_btn button{
border-radius: 4px;
font-weight: 600;
color: white;
font-size: 16px;
cursor: pointer;
}
.hb_1{
    background-color: #469165;
    border: none;
    padding: 18px 12px;
}
.hb_2{
    background-color: transparent;
    border: 2px solid white;
    margin-left: 16px;
    padding: 16px 12px;
}

.hb_1:hover{
    background-color: transparent;
      border: 2px solid white;
    color: rgb(180, 178, 178);
      padding: 16px 12px;

}
.hb_2:hover{
    background-color: #469165;
    border: none;
   color: rgb(252, 211, 149);
    padding: 18px 12px;
}

/* notes */

.notes_h{
   text-align: center;
   padding-top: 60px;
}
.notes_h h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.notes_h p{
    font-size: 16px;
    font-weight: bold;
    color: #627382;
}
.card{

    display: flex;
    align-items: center;
  justify-content: space-evenly;
  margin-top: 44px;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:#F95555;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 70px;
   margin-bottom: 16px;
  
   
}

.card_1{
    max-width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
   


}
.card_content{
    text-align: center;


}
.card_content h1{
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;

}

.card_content p{
    color:#627382;
    font-weight: 20px;
    font-size: 16px;

}

/* brain */


.brain{
    display: flex;
    align-items: center;
    gap: 60px;
  justify-content: center;
}

.brain_content ul{
    list-style: none;
    margin-top: 34px;
    font-weight: 500;
    font-size: 16px;
}
.brain_content p,h1,li{
    margin-bottom: 16px;
}
.brain_content h1{
    font-size: 48px;
    font-weight: bold;
}
.brain_content span p{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}
.brain_content p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}