*{
    border: 0;
    padding: 0;
      font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
       max-width: 100%;
       padding: 0px 120px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap:32px;
}

nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight:500;
    color:#000000;
    
}
nav button{
   padding: 16px 12px;
   border-radius: 4px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
}
nav button:hover{
    background-color: #1d5c37;
    color: rgb(180, 178, 178);

}
nav a:hover{
    color:#469165;
}